// main content hieght
$footerHeight: 3rem;
$headerHeight: 3rem;
$mainContentHeight: calc(100vh - $footerHeight - $headerHeight);

// colors
$black1: rgb(39, 39, 39);
$black2: rgba(255, 255, 255, 0.048);
$black3: rgb(69, 69, 69);

@mixin centermargin {
  margin: 0 auto;
}

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin defaults {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

@mixin links {
  display: block;
  position: relative;
  text-decoration: none;
}

@mixin resetmp {
  margin: 0;
  padding: 0;
}

@mixin hideScrollBar {
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}

@mixin shadowMild($color) {
  box-shadow: 0 0 0.2rem 0.2rem $color;
}
