// main content hieght
$footerHeight: 3rem;
$headerHeight: 3rem;
$mainContentHeight: calc(100vh - $footerHeight - $headerHeight);

// primary
$Moderateblue: hsl(238, 40%, 52%);
$SoftRed: hsl(358, 79%, 66%);
$Lightgrayishblue: hsl(239, 57%, 85%);
$Palered: hsl(357, 100%, 86%);

// neutral
$Darkblue: hsl(212, 24%, 26%);
$GrayishBlue: hsl(211, 10%, 45%);
$Lightgray: hsl(223, 19%, 93%);
$Verylightgray: hsl(228, 33%, 97%);
$White: hsl(0, 0%, 100%);

@mixin centermargin {
  margin: 0 auto;
}

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin defaults {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

@mixin links {
  display: block;
  position: relative;
  text-decoration: none;
}

@mixin resetmp {
  margin: 0;
  padding: 0;
}

@mixin hideScrollBar {
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}

@mixin shadowMild($color) {
  box-shadow: 0 0 0.2rem 0.2rem $color;
}
