.loginPage{

    input{
        margin-bottom: 1rem;
        background: rgb(68, 68, 68);
        color: white;
    }

  

    .buttonContainer{
        display: flex;
        gap: 1rem;
        margin-block: 1rem;
    }
}