footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: $footerHeight;

  display: flex;
  padding-inline: 10rem;
  align-items: center;
  gap: 1rem;

  .footercomponent:nth-child(3) {
    margin-left: auto;
  }
}
